.weather-container
{
	text-align: center;

}
body
{
	background-color:#F0FFF0;
}
.img
{
	width:24%;
	 height:24%;
	 margin:0;
}
.descrip
{
	font-size:30px;
	font-weight:bold;
	font-color:red;
	margin:0;

	}
.cmt
{
	font-size:60px;
}